<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Horizontal form</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal">
            <div class="form-group">
              <label class="col-md-2 control-label">相对URI</label>
              <div class="col-md-4">
                <input ng-model="resource.url" ng-keyup="setUriParams(resource.url)" class="form-control" placeholder="访问uri路径">
              </div>
              <label class="col-md-2 control-label">访问方式</label>
              <div class="col-md-4">
                <select ng-model="resource.method" class="form-control">
                  <option value="get">GET</option>
                  <option value="post">POST</option>
                  <option value="put">PUT</option>
                  <option value="delete">DELETE</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">请求协议</label>
              <div class="col-md-4">
                <select ng-show="resource.method == 'post' || resource.method == 'put'" ng-model="resource.queryMimeType" class="form-control">
                  <option value="application/x-www-form-urlencoded">URLEncoded</option>
                  <option value="application/json">JSON</option>
                  <option value="multipart/form-data">Multpart</option>
                </select>
              </div>
              <label class="col-md-2 control-label">响应协议</label>
              <div class="col-md-4">
                <select ng-model="resource.responseMimeType" class="form-control">
                  <option value="application/json">JSON</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">描述</label>
              <div class="col-md-10">
                <input class="form-control" ng-model="resource.description" placeholder="描述">
              </div>
            </div>
            <!-- nav -->
            <ul class="nav nav-tabs">
              <li ng-class="{'active':process == 'header'}"><a href="javascript:;" ng-click="process = 'header'">添加头信息</a></li>
              <li ng-class="{'active':process == 'uri'}"><a href="javascript:;" ng-click="process = 'uri'">URI参数</a></li>
              <li ng-class="{'active':process == 'query'}"><a href="javascript:;" ng-click="process = 'query'">请求参数</a></li>
              <li ng-class="{'active':process == 'response'}"><a href="javascript:;" ng-click="process = 'response'">响应内容</a></li>
            </ul>
            <!-- ./nav -->
            <!-- header -->
            <div class="table-responsive" ng-show="process == 'header'">
              <table class="table table-striped b-t b-light">
                <thead>
                   <tr>
                    <th>参数名</th>
                    <th>参数描述</th>
                    <th>参数类型</th>
                    <th>是否必填</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="param in resource.headerParams">
                    <td><input type="text" class="form-control" ng-model="param.displayName" placeholder="参数名"></td>
                    <td><input type="text" class="form-control" ng-model="param.description" placeholder="参数描述"></td>
                    <td><select ng-model="param.type" class="form-control">
                        <option value="string">字符串</option>
                        <option value="integer">数值</option>
                        <option value="number">小数</option>
                        <option value="boolean">真假</option>
                      </select>
                    </td>
                    <td><input type="checkbox" class="form-control" ng-model="param.required"></td>
                    <td>
                      <button ng-click="addParams(resource.headerParams, param)" class="btn btn-sm btn-info">添加</button>
                      <button data-toggle="modal" class="btn btn-sm btn-info"  data-target="#myModal" ng-click="setValidObject(param);">设置规则</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- ./header -->
            <!-- uri -->
            <div class="table-responsive" ng-show="process == 'uri'">
              <table class="table table-striped b-t b-light">
                <thead>
                  <tr>
                    <th>参数名</th>
                    <th>参数描述</th>
                    <th>参数类型</th>
                    <th>是否必填</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="param in resource.uriParams">
                    <td><input type="text" class="form-control" ng-model="param.displayName" disabled="disabled" placeholder="参数名"></td>
                    <td><input type="text" class="form-control" ng-model="param.description" placeholder="参数描述"></td>
                    <td><select ng-model="param.type" class="form-control">
                        <option value="string">字符串</option>
                        <option value="integer">数值</option>
                        <option value="number">小数</option>
                        <option value="boolean">真假</option>
                      </select>
                    </td>
                    <td><input type="checkbox" class="form-control" ng-model="param.required"></td>
                    <td>
                      <button data-toggle="modal" class="btn btn-sm btn-info"  data-target="#myModal" ng-click="setValidObject(param);">设置规则</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- ./uri -->
            <!-- query -->
            <div class="table-responsive" ng-show="process == 'query'">
              <table class="table table-striped b-t b-light">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>级别</th>
                    <th>参数名</th>
                    <th>参数描述</th>
                    <th>参数类型</th>
                    <th>是否必填</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="param in resource.queryParams">
                    <td><span>{{param.index}}</span></td>
                    <td><span>{{param.level}}</span></td>
                    <td>
                      <div class="input-group" style="width:300px;">
                        <span class="input-group-addon" ng-repeat="blank in param.blanks">&nbsp;&nbsp;</span>
                        <input type="text" class="form-control" ng-model="param.displayName" placeholder="参数名">
                      </div>
                    </td>
                    <td><input type="text" class="form-control" ng-model="param.description" placeholder="参数描述"></td>
                    <td><select ng-model="param.type" class="form-control">
                        <option value="string">字符串</option>
                        <option value="integer">数值</option>
                        <option value="number">小数</option>
                        <option value="boolean">真假</option>
                        <option value="file" ng-show="resource.method == 'post' && resource.queryMimeType == 'multipart/form-data'">文件</option>
                        <option value="object" ng-show="(resource.method == 'post' || resource.method == 'put') && resource.queryMimeType == 'application/json'">对象</option>
                        <option value="array" ng-show="(resource.method == 'post' || resource.method == 'put') && resource.queryMimeType == 'application/json'">数组</option>
                      </select>
                    </td>
                    <td><input type="checkbox" class="form-control" ng-model="param.required"></td>
                    <td>
                      <button ng-click="addParams(resource.queryParams, param)" class="btn btn-sm btn-info">添加同级</button>
                      <button ng-show="param.type =='object' || param.type =='array'" class="btn btn-sm btn-info" ng-click="addChildParams(resource.queryParams, param)">添加子级</button>
                      <button ng-hide="param.type =='object' || param.type =='array'" data-toggle="modal" class="btn btn-sm btn-info"  data-target="#myModal" ng-click="setValidObject(param);">设置规则</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- ./query -->
            <!-- response -->
            <div class="table-responsive" ng-show="process == 'response'">
              <table class="table table-striped b-t b-light">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>级别</th>
                    <th>参数名</th>
                    <th>参数描述</th>
                    <th>参数类型</th>
                    <th>是否必填</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="param in resource.responseParams">
                    <td><span>{{param.index}}</span></td>
                    <td><span>{{param.level}}</span></td>
                    <td>
                      <div class="input-group" style="width:300px;">
                        <span class="input-group-addon" ng-repeat="blank in param.blanks">&nbsp;&nbsp;</span>
                        <input type="text" class="form-control" ng-model="param.displayName" placeholder="参数名">
                      </div>
                    </td>
                    <td><input type="text" class="form-control" ng-model="param.description" placeholder="参数描述"></td>
                    <td><select ng-model="param.type" class="form-control">
                        <option value="string">字符串</option>
                        <option value="integer">数值</option>
                        <option value="number">小数</option>
                        <option value="boolean">真假</option>
                        <option value="object">对象</option>
                        <option value="array">数组</option>
                      </select>
                    </td>
                    <td><input type="checkbox" class="form-control" ng-model="param.required"></td>
                    <td>
                      <button ng-click="addParams(resource.responseParams, param)" class="btn btn-sm btn-info">添加同级</button>
                      <button ng-show="param.type =='object' || param.type =='array'" class="btn btn-sm btn-info" ng-click="addChildParams(resource.responseParams, param)">添加子级</button>
                      <button ng-hide="param.type =='object' || param.type =='array'" data-toggle="modal" class="btn btn-sm btn-info"  data-target="#myModal" ng-click="setValidObject(param);">设置规则</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- ./response -->
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <!-- preview -->
                <button ng-show="process == 'uri'" type="submit" class="btn btn-sm btn-info" ng-click="process = 'header'">Preview</button>
                <button ng-show="process == 'query'" type="submit" class="btn btn-sm btn-info" ng-click="process = 'uri'">Preview</button>
                <button ng-show="process == 'response'" type="submit" class="btn btn-sm btn-info" ng-click="process = 'query'">Preview</button>
                <!-- next -->
                <button ng-show="process == 'header'" type="submit" class="btn btn-sm btn-info" ng-click="process = 'uri'">Next</button>
                <button ng-show="process == 'uri'" type="submit" class="btn btn-sm btn-info" ng-click="process = 'query'">Next</button>
                <button ng-show="process == 'query'" type="submit" class="btn btn-sm btn-info" ng-click="process = 'response'">Next</button>
                <!-- button -->
                <button type="submit" class="btn btn-sm btn-info" ng-click="create()">Create</button>
                <button type="submit" class="btn btn-sm btn-primary" ng-click="gotoList()">Close</button>
              </div>
            </div>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
               aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">模态框({{valid.description}})</h4>
                     </div>
                     <div class="modal-body">
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-md-2 control-label">例子</label>
                          <div class="col-md-10">
                            <select ng-show="valid.type == 'boolean'" class="form-control" ng-model="rule.example">
                              <option value="false">假</option>
                              <option value="true">真</option>
                            </select>
                            <input ng-hide="valid.type == 'boolean'" ng-model="rule.example" class="form-control" placeholder="例子">
                          </div>
                        </div>

                        <!-- 字符串 -->  
                        <div class="form-group" ng-show="valid.type == 'string'">
                         <label class="col-md-2 control-label">最小长度</label>
                          <div class="col-md-4">
                            <input ng-model="rule.minLength" class="form-control" placeholder="最小长度">
                          </div>
                          <label class="col-md-2 control-label">最大长度</label>
                          <div class="col-md-4">
                            <input ng-model="rule.maxLength" class="form-control" placeholder="最大长度">
                          </div>
                        </div>
                        <div class="form-group" ng-show="valid.type == 'string'">
                          <label class="col-md-2 control-label">正则表达式</label>
                          <div class="col-md-4">
                            <input ng-model="rule.pattern" class="form-control" placeholder="正则表达式">
                          </div>
                        </div>
                        <!-- ./字符串 -->
                        
                        <!-- integer -->
                        <div class="form-group" ng-show="valid.type == 'integer'">
                         <label class="col-md-2 control-label">最小值</label>
                          <div class="col-md-4">
                            <input ng-model="rule.minimum" class="form-control" placeholder="最小值">
                          </div>
                          <label class="col-md-2 control-label">最大值</label>
                          <div class="col-md-4">
                            <input ng-model="rule.maximum" class="form-control" placeholder="最大值">
                          </div>
                        </div>
                        <!-- ./integer -->

                      </form>
                     </div>
                     <!-- /. -->
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmValid(rule);">确定</button>
                     </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </form>
        </div>
      </div>
    </div>
  </div>