<div class="panel panel-default">
  <div class="panel-heading">
    Responsive Table
  </div>
  <div class="row wrapper">
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" ng-model="search" class="input-sm form-control" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn btn-sm btn-default" ng-click="add()" type="button">Add!</button>
          </span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>路径</th>
          <th>请求方式</th>
          <th>描述</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="resource in resources | filter:search">
           <td><a ng-click="update(resource)">{{resource.url}}</a></td>
           <td>{{resource.method}}</td>
           <td>{{resource.description}}</td>
           <td><a type="button" class="btn btn-primary" href="/file/{{resource.id}}.html" target="_blank">查看</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>